<section id="add">
	<form action="/" method="post">
		<textarea name="name" placeholder="Enter your name"></textarea></p>
		<textarea name="case" placeholder="Enter your case number"></textarea></p>
		<textarea name="content" placeholder="Enter your validator string&hellip;"></textarea></p>
		<input type="submit" value="Add test!">
	</form>
</section>

<table align = "center" id="all_tests">
  <thead>
		<tr>
			<th>id</th>
			<th>Case#</th>
			<th>Name</th>
			<th>Push URL</th>
			<th>Validator</th>
			<th>API version</th>
			<th>Created At</th>
			<th>Updated at</th>
			<th>Last Data Recieved</th>
			<th>Complete</th>
			<th>Delete?</th>
 		</tr>
	</thead>

	<tbody>
<% @tests.each do |test| %>
		<tr class=<%=h test[:complete] %>>
			<td><span><a href="/<%=h test[:id] %>/edit"><%=h test[:id] %></a></span></td>
			<td><%=h test[:case] %></td>
			<td><%=h test[:name] %></td>
			<td><%=h test[:push_url] %><%=h test[:id] %> </td>
			<td><%=h test[:validator] %></td>
			<td><%=h test[:api] %></td>
			<td><%=h test[:created_at] %></td>
			<td><%=h test[:updated_at] %></td>
			<td><%=h test[:data_at] %></td>
			<td><%=h test[:complete] %></td>
			<td><span><a href="/<%=h test[:id] %>/delete">delete</a></span></td>
		</tr>
<% end %>
	</tbody>
</table>
