<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= "#{@title} | #{SITE_TITLE}" %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
  
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
<script> $(document).ready( function () {                                                                                                                                                                    
  $('#all_tests').DataTable();                                                                                                                                                                      
} );  </script>
  <header>
    <hgroup>
      <h1><a href="/"><%= SITE_TITLE %></a></h1>
      <h2><%= SITE_DESCRIPTION %></h2>
    </hgroup>
  </header>
 
  <div id="main">
	<% if flash[:notice] %>
    		<p class="notice"><%= flash[:notice] %>
	<% end %>
 
	<% if flash[:error] %>
    		<p class="error"><%= flash[:error] %>
	<% end %>
    <%= yield %>
  </div>
 
  <footer>
    <p><small>An app for <a href="http://meraki.cisco.com">Cisco Meraki Support</a>.</small></p>
  </footer>
</body>
</html>
